.buttons {
    max-width: 402px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__save {
        @include btn;
        transition: .3s ease;

        &:hover {
            background: darken($color-white-dark, 10%);
        }

        @media (max-width: 402px) {
            width: 90%;
            margin-bottom: 20px;
        }
    }

    &__tell {
        @include btn;
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        transition: .3s ease;

        &:hover {
            background: darken($color-white-dark, 10%);
        }

        @media (max-width: 402px) {
            width: 90%;
        }
    }

    @media (max-width: 402px) {
        flex-direction: column;
    }
}