* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background: #ddd; }

.main {
  background: #f4f4f4;
  border: 1px solid #ccc;
  font-size: 24px;
  width: 502px;
  padding: 30px;
  margin-bottom: 40px; }
  .main__content {
    color: #555;
    margin-bottom: 40px; }
    .main__content-header {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 40px; }
    .main__content-span {
      color: orangered;
      font-weight: 700; }
  .main__thanks {
    margin-bottom: 20px;
    background: #2D882D;
    color: #f4f4f4;
    padding: 10px 20px;
    display: none; }
  .main__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; }
    .main__form-input {
      width: 200px;
      height: 50px;
      font-size: 30px;
      border: 1px solid #ccc;
      border-radius: 3px; }
      .main__form-input:focus {
        background: #fffaaa; }
    .main__form-button {
      width: 200px;
      height: 50px;
      font-size: 30px;
      border: none;
      border-radius: 3px;
      color: #f4f4f4;
      background: #2D882D; }
      .main__form-button:hover {
        background: #54c754; }
  .main__toggle-btn {
    color: #0964AA;
    text-decoration: none; }
  .main__toggle-text {
    display: block;
    color: #555;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }

.visible {
  visibility: visible;
  opacity: 1; }

.show {
  display: block; }

.progressiveBar {
  width: 502px;
  border: 1px solid #ccc;
  border-bottom: none; }
  .progressiveBar__container {
    height: 25px;
    background: #f4f4f4; }
  .progressiveBar__value {
    height: 25px;
    background: orangered; }
