body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans', sans-serif;

    background: #ddd;
    background: $color-white;

    @media (max-width: 402px) {
        height: 800px;
    }
}