body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;

    background: #ddd;
    background: $color-white;

    @media (max-width: 500px) {
        height: 900px;
    }
}