.main {
    background: $color-white;
    border: 1px solid $color-grey;
    font-size: $font-size-default;
    max-width: 502px;
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
        

    &__content {
        color: $font-color-grey;
        margin-bottom: 40px;

        &-header {
            font-size: $font-size-default;
            font-weight: 400;
            margin-bottom: 40px;
        }

        &-span {
            color: $color-primary;
            font-weight: 700;
        }

        &-text {
            
        }

        &-donators {
            font-weight: 700;
        }
    }

    &__thanks {
        margin-bottom: 20px;
        background: $color-secondary;
        color: $color-white;
        font-weight: 400;
        padding: 10px 20px;
        display: none;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        &-input {
            width: 200px;
            height: 50px;
            font-size: $font-size-big;
            border: 1px solid $color-grey;
            border-radius: 3px;

            &:focus {
                background: #fffaaa;
            }

            @media (max-width: 500px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &-button {
            width: 200px;
            height: 50px;
            font-size: $font-size-big;
            border: none;
            border-radius: 3px;
            color: $color-white;
            background: $color-secondary;

            &:hover {
                background: lighten($color-secondary, 20%)
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }

        @media (max-width: 500px) {
            
            flex-direction: column;
        }
    }
}

.show {
    display: block;
}
