
$font-size-default: 24px;
$font-size-big: 28px;
$font-size-small: 20px;

$font-color-grey: #555;
$font-color-blue: #33A6D2;

$color-primary: #C04C0E;
$color-secondary: #2D882D;
$color-white: #f4f4f4;
$color-white-dark: #dfdfdf;
$color-grey: #ccc;
$color-grey-dark: #444;


@mixin btn {
    width: 230px;
    height: 50px;
    background: lighten($color-white-dark, 3%);
    border: 1px solid $color-grey;
    border-radius: 3px;
    color: $font-color-grey;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: $font-size-small;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba($font-color-grey, .2);
}