
$font-size-default: 22px;
$font-size-big: 28px;
$font-size-small: 20px;

$font-color-grey: #424242;
$font-color-blue: #75b8dd;

$color-primary: #e16842;
$color-secondary: #56ba3e;
$color-white: #f4f4f4;
$color-white-dark: #fafafa;
$color-grey: #dcdcdc;
$color-grey-dark: #424242;
$color-text: #8d8d8d;



@mixin btn {
    width: 190px;
    height: 50px;
    background: lighten($color-white-dark, 3%);
    border: 1px solid $color-grey;
    border-radius: 3px;
    color: $color-text;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: $font-size-small;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba($font-color-grey, .15);
}