
$font-size-default: 24px;
$font-size-big: 30px;

$font-color-grey: #555;
$font-color-blue: #0964AA;

$color-primary: orangered;
$color-secondary: #2D882D;
$color-white: #f4f4f4;
$color-grey: #ccc;


